@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* 테마 변수를 사용하여 다크 라이트 전역으로 적용되도록 함 */
  background-color: var(--bg-primary, #f8f8f8);
  width: 100%;
  min-height: 100vh;
  color: var(--text-secondary, #374151);

  font-family: sans-serif;
}
